[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts/
[submodule "lib/uniswapV3Periphery"]
	path = lib/uniswapV3Periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "lib/uniswapV4Periphery"]
	path = lib/uniswapV4Periphery
	url = https://github.com/Uniswap/v4-periphery
